:root{
    --primary : rgb(6, 95, 70);
}

html {
    box-sizing: border-box;
  }

body{
    background-color: var(--primary);

}

*, *:before, *:after {
box-sizing: inherit;
color: white;
font-family: 'Courier New', Courier, monospace;
}

section{
    margin-bottom: 150px;
}


a{
    text-decoration: none;
}

.text-center{
    text-align: center;
}

.text-blue{
    color: blue;
}

.animation-1:hover{
    cursor: pointer;
    font-size: 12px;
}

.animation-1{
    transition: font-size 0.2s linear;
}

.d-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.container{
    width: 90%;
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.mis-proyectos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
}


/*Tarjeta*/
.tarjeta{
    width: 250px;
    border-radius: 4px;
    padding: 20px 6px;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
}
.titulo-tarjeta{
    margin-top: 0;
    color: black
    ;
    font-weight: 900;
}
.tecnologias{
    color: grey;
}
.descripcion{
    color: black;
}
.tarjeta-btn{
    background: none;
    border: 0;
    color: inherit;
    line-height: normal;
    overflow: visible;
    padding: 4px 4px;
    border-radius: 4px;
    background-color: var(--primary);
}

.seccion-contacto{
}

/*Formulario de contacto*/
.form-contacto{
    margin: 0 auto;

    width: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.campo{
    padding: 10px 4px;
}

.btn-enviar{
    color: black;
    cursor: pointer;
}
